html {
    scroll-behavior: smooth;
}
body {
    display: flex;
    margin: 0;
    overflow: hidden;
    flex-wrap: wrap;
    flex: auto;
    background-color: #111216;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#front-title,
h1 {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 50px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #26c211f0;
    line-height: 16px;
    outline: none;
}

.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.hamRotate.active {
    transform: rotate(45deg);
}
.hamRotate180.active {
    transform: rotate(180deg);
}
.line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #26c211f0;
    stroke-width: 5.5;
    stroke-linecap: round;
}
.ham1 .top {
    stroke-dasharray: 40 139;
}
.ham1 .bottom {
    stroke-dasharray: 40 180;
}
.ham1.active .top {
    stroke-dashoffset: -98px;
}
.ham1.active .bottom {
    stroke-dashoffset: -138px;
}
