html {
    scroll-behavior: smooth;
}
body {
    display: flex;
    margin: 0;
    overflow: hidden;
    flex-wrap: wrap;
    flex: auto;
    background-color: #111216;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#front-title,
h1 {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 50px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #26c211f0;
    line-height: 16px;
    outline: none;
    text-shadow: 0 0 8px #26c211f0;
}

#main-nav {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #111216;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 1);
}
#nav-logo {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#nav-logo img {
    width: 50px;
    height: 50px;
    margin: 5px;
}
.dropdown-team {
    position: relative;
    display: inline-block;
    height: 50px;
    margin: 5px;
}
.dropdown-team #button-nav-dropdown {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #26c211f0;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
    background-color: #0f1013;
    border-radius: 35px;
    padding: 0 15px;
}

.dropdown-team #button-nav-dropdown:hover {
    background-color: #1a1b1f;
}
.dropdown-team #button-nav-dropdown span {
    margin: 0 5px 0 5px;
}
.dropdown-team #button-nav-dropdown svg {
    width: 15px;
    height: 15px;
}
.dropdown-calendar {
    position: relative;
    display: inline-block;
    height: 50px;
    margin: 5px;
}
.dropdown-calendar #button-nav-dropdown {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #26c211f0;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
    background-color: #0f1013;
    border-radius: 35px;
    padding: 0 15px;
}

.dropdown-calendar #button-nav-dropdown:hover {
    background-color: #1a1b1f;
}
.dropdown-calendar #button-nav-dropdown a {
    margin: 0 5px 0 5px;
    color: #26c211f0;
    text-decoration: none;
}
.dropdown-partner {
    position: relative;
    display: inline-block;
    height: 50px;
    margin: 5px;
}
.dropdown-partner #button-nav-dropdown {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #26c211f0;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
    background-color: #0f1013;
    border-radius: 35px;
    padding: 0 15px;
}

.dropdown-partner #button-nav-dropdown:hover {
    background-color: #1a1b1f;
}
.dropdown-partner #button-nav-dropdown a {
    margin: 0 5px 0 5px;
    color: #26c211f0;
    text-decoration: none;
}
.dropdown-contact {
    position: relative;
    display: inline-block;
    height: 50px;
    margin: 5px;
}
.dropdown-contact #button-nav-dropdown {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #26c211f0;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
    background-color: #0f1013;
    border-radius: 35px;
    padding: 0 15px;
}

.dropdown-contact #button-nav-dropdown:hover {
    background-color: #1a1b1f;
}
.dropdown-contact #button-nav-dropdown a {
    margin: 0 5px 0 5px;
    color: #26c211f0;
    text-decoration: none;
}
